# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
#Zip=/usr/share/OGRE/Samples/Media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=.
#FileSystem=/usr/share/OGRE/Samples/Media
#FileSystem=/usr/share/OGRE/Samples/Media/fonts
#FileSystem=/usr/share/OGRE/Samples/Media/materials/programs
#FileSystem=/usr/share/OGRE/Samples/Media/materials/scripts
#FileSystem=/usr/share/OGRE/Samples/Media/materials/textures
#FileSystem=/usr/share/OGRE/Samples/Media/models
#FileSystem=/usr/share/OGRE/Samples/Media/overlays
#FileSystem=/usr/share/OGRE/Samples/Media/particle
#FileSystem=/usr/share/OGRE/Samples/Media/gui
#FileSystem=/usr/share/OGRE/Samples/Media/DeferredShadingMedia
#FileSystem=/usr/share/OGRE/Samples/Media/PCZAppMedia
#Zip=/usr/share/OGRE/Samples/Media/packs/cubemap.zip
#Zip=/usr/share/OGRE/Samples/Media/packs/cubemapsJS.zip
#Zip=/usr/share/OGRE/Samples/Media/packs/dragon.zip
#Zip=/usr/share/OGRE/Samples/Media/packs/fresneldemo.zip
#Zip=/usr/share/OGRE/Samples/Media/packs/ogretestmap.zip
#Zip=/usr/share/OGRE/Samples/Media/packs/skybox.zip
